.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right {
  margin-left: auto;
}
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Contenedor del carrito */
.cart-link {
  position: relative;
}

/* Badge */
.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  line-height: 1;
}

