.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ffb3;
}
